.request-card{

    --lg-height: 220px;

    --animation-props: all 0.2s ease-in-out;
    @apply bg-slate-200 flex flex-col rounded-3xl shadow-lg overflow-hidden border border-slate-400;
    transition: var(--animation-props);
    height: var(--lg-height);
    width: var(--lg-width);
    &:hover{
        cursor: pointer;
        transform: scale(1.05);
        .avatar{
            transform: scale(0.95);
        }
        .avatar > *{
            transform: scale(1);
        }
        .background-image::after{
            transform: scaleY(1.5);
            transform-origin: bottom;
        }
    }
}
.background-image{
    @apply h-2/5 w-full  relative;
    > * {
        @apply h-full w-full object-cover;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 50px;
        width: 100%;
        transition: var(--animation-props);
        @apply bg-gradient-to-b from-transparent from-5% via-slate-200/60 via-45% to-slate-200 to-85%; 
    }
}
.lower-half{
    @apply  h-3/5 w-full flex flex-col items-center;
}
.information{
    @apply h-full flex flex-col pb-8;
    color: var(--primary-color);
    text-align: center;
    .name{
        @apply text-xl font-semibold;
    }
}
.avatar{
    transition: var(--animation-props);
    > *{
        transition: var(--animation-props);
        transform: scale(1.5);
    }
}
.location{
    @apply w-full flex flex-row items-center justify-center; 
}
.accepted{
    @apply text-green-600 !important;
}
.pending{
    @apply text-blue-600 !important;
} 
.status{
    @apply mt-auto text-indigo-800 flex flex-col justify-center items-center;
    text-transform: capitalize;
}
.accept-btn{
    @apply text-slate-200 !important;
}