.sky-scroller{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
$layersNo: 5;
$scaleMul: 0.5;
@mixin scaleByLayer(){
    @for $i from 0 through $layersNo {
        .sky-layer-#{$i} {
            content: '';
        }
    }
}
@include scaleByLayer(); 