.notification-list{
    @apply flex flex-col max-h-[50vh] overflow-y-auto;
}
.notification-list-item{
    @apply flex flex-row items-center justify-center p-2 mb-2 last:mb-0 cursor-pointer rounded;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.user-profile-picture{
    outline: 2px solid var(--btn-color);
    @apply rounded-full overflow-hidden mr-2;
}
.notification-list-item__title{
    @apply grow;
}
.notification-list-item__time{
    @apply grow font-semibold;
    color: var(--btn-color)
}
.right-group{
    display: flex;
    flex-direction: column;
}