.notification-list{
    @apply flex flex-col max-h-[50vh] overflow-y-auto relative w-full;
}
.notification-list-item{
    @apply flex flex-row items-center justify-start p-2 mb-2 last:mb-0 cursor-pointer rounded w-full relative;
    &:hover{
        background-color: rgba(0, 0, 0, 0.1);
        .hover-control-btn-group{
            @apply flex;
        }
    }
}
.user-profile-picture{
    outline: 2px solid var(--btn-color);
    @apply rounded-full overflow-hidden mr-2 w-[64px] h-[64px];
    flex-shrink: 0;
}
.notification-list-item__title{
    @apply grow;
}
.notification-list-item__time{
    @apply grow font-semibold;
    color: var(--btn-color)
}
.right-group{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.hover-control-btn-group{
    @apply flex-col absolute top-0 right-1 h-full justify-between hidden z-20;
    button{
        @apply my-auto flex flex-row text-lg bg-white cursor-pointer hover:font-bold border p-1 rounded-full;
    }
}
.read-indicator{
    @apply absolute top-1 left-1 w-2 h-2 rounded-full;
    background-color: var(--btn-color);
}
.read{
    @apply text-slate-500
}
.loading-notification{
    @apply animate-pulse pointer-events-none  bg-gray-200;

    * {
        outline:rgba(0, 0, 0, 0.9)!important;
        color:rgba(0, 0, 0, 0.5)!important;
    }
    .read-indicator{
        @apply bg-gray-300;
    }

}
.list-item-skeletal-container{
    @apply flex flex-row items-center justify-start p-2 mb-2 last:mb-0 bg-gray-300 rounded w-full animate-pulse;
}
.profile-picture-skeletal{
    @apply rounded-full overflow-hidden mr-2 w-[64px] h-[64px] bg-gray-400;
    flex-shrink: 0;
}
.content-skeletal{
    @apply flex flex-col w-full;
}
.content-skeletal-title{
    @apply w-full h-4 rounded bg-gray-400;
}
.content-skeletal-timestamp{
    @apply w-1/2 h-4 rounded mt-2 bg-gray-400;
}