.mini-sun{
    background-color: var(--btn-color);
    border-radius: 100%;
    width:80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(0) translate(-50%, -50%);
    &.current{
        transform: scale(1) translate(-50%, -50%);
    }
}

