.weather-spinner{
    position: relative;
     transform: scale(0.8);
    transform-origin: center;
}


@media screen and (max-width: 768px){
    .weather-spinner{
        transform: scale(0.7);
    }        
}


@media screen and (max-width: 480px){
    .weather-spinner{
        transform: scale(0.5);
    }        
}
.weather-spinner__text{
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
}