.weather-spinner{
    position: relative;
    transform: scale(0.8);
    transform-origin: center;
    .leaves{
        position: absolute;
        
    }
}

@media screen and (max-width: 768px){
    .weather-spinner{
        transform: scale(0.7);
    }        
}


@media screen and (max-width: 480px){
    .weather-spinner{
        transform: scale(0.5);
    }        
}