.feed-component{
    width: max-content;
    @apply mx-auto mt-8;
}
.feed-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: pre-wrap;
    
    @apply p-4;
    > *{
        width: max-content;
    }
}