.reaction-button-container{
    position: relative;
    --icon-dimension: 32px;
    display: flex;
    flex-direction: row;
}
.reaction-list-container{
    height: max-content;
    position: relative;
    width: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.dummy-list{
    width: 0;
    overflow: hidden;
}
.reaction-button__reaction-list{
    display: flex;
    flex-direction: row;
    transform: scaleX(0);
    overflow: hidden;
    transform-origin: left center;
    align-items: center;
    position: absolute;     
    left: 0;
    opacity: 0;
    @apply rounded-full;
    transition-property: transform, opacity;
    transition-duration: 200ms, 200ms;
    transition-delay: 200ms, 200ms;
    z-index: 20;
    button{
        opacity: 0;
        transition-property: opacity, transform;
        transition-duration: 100ms, 100ms;
        transition-delay: 0, 0;
    }
    &.revealed{ 
        overflow: visible;
        opacity: 1;
        transform: scaleX(1);
        transform-origin: left center;
        transition-property: transform, opacity;
        transition-duration: 200ms, 200ms;
        transition-delay: 0ms, 0ms;
        button{
            opacity: 1;
            transition-property: opacity, transform;
            transition-duration: 100ms, 100ms;
            transition-delay: 200ms, 0ms;
        }

    }
}
.reaction-icon-btn{
    @apply flex justify-center items-center rounded-full bg-white text-lg mx-1;
    width: var(--icon-dimension);
    height: var(--icon-dimension);
    text-align: center;

    &:hover{
        transform: scale(1.7);
        
    }
    &.reacted{
        display:none;
    }

}
.reacted-icon-btn{
    width: 64px;
    height: 64px;
    @apply text-3xl rounded-full flex justify-center items-center;
    background-color: var(--btn-color);
    outline: 2px solid white;
}
.reacted{
    display: none;
}
.reaction-icon-btns-group{
    @apply flex flex-row justify-center items-center bg-white rounded-full py-1;
    &reaction-added{
        @apply rounded-l-none;
        padding-right: 0;
        padding-left: 0;
    }
}
.reaction-button{
    @apply rounded-full;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0,.59,1,-0.33);;
    z-index: 20;
    background-color: var(--btn-color);
    position: relative;
    &:hover{
        @apply bg-indigo-600 ;
        outline: 1px solid white;
    }
    .reaction-button__reaction-name{
        text-transform: capitalize;
    }
}

.revealed-reacted, .revealed-unreacted{
    @apply mr-6;
    padding: 0.25rem!important;
    transform: scale(2);
    transition-timing-function: ease-in-out;
    width: var(--icon-dimension);
    height: var(--icon-dimension);
    transition-duration: 200ms;
    .reaction-button__reaction-icon{
        margin-right: 0;
    }
    .reaction-button__reaction-name{
        display: none;
    }
    &:hover .slash{
        width: 100%;
        height: 1px;
        box-shadow: 0 0 1px 0.25px white;
    }
    
}
.reaction-button__reaction-icon{
    margin-right: 0.5rem;
}
.slash{
    background: red;
    width: 0;
    height: 0px;
    position: absolute;
    transition: width 0.2s linear;
    align-self: flex-start;
    top: 50%;
    left: 0;

}