.edit-profile{    
    @apply w-full h-full relative overflow-auto;
}
$weathers: (
    (/* default */
        name: cloudy,
        mainColor: skyblue,
        cloudColor: #FFFFFF,
    ),
    (
        name: rainy,
        mainColor: #4138bc,
        cloudColor: #CCCCCC
    ),
    (
        name: sunny,
        mainColor: skyblue,
        cloudColor: lightyellow,
    )
);
@each $weather in $weathers {
    $theBackground: map-get($weather, mainColor);
    $theCloud: map-get($weather, cloudColor);
    $theName: map-get($weather, name);
    .#{$theName} {
        background-color: $theBackground;
    
        .cloud svg *{
                fill: $theCloud;
                color: $theCloud; 
                flex-shrink: 0;
                
        }
        .cloud svg{
                max-width: 100%!important;
        }
        
    }
};

.edit-profile-wrapper{
    display: flex;
    height: max-content;
    position:relative;
}