.windy{
    position: relative;
}
.windy_path{
    path{

    }
}
.leaves{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: -5%;
}
.leave_floating{
    animation-name: leave_floating;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
#wind_stroke_ring{
    transform-box: view-box;
    transform-origin: center;
    transition-duration: 0.3s;
}
@keyframes leave_floating {
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(-3px);
    }
    100%{
        transform: translateY(3px);
    }
}
#small-wind-path{
    
}
.blur{
    filter: blur(1px);
}