.windy{
    
}
.windy_path{
    path{

    }
}
.leaves{
    transform-box: view-box;
}
#wind_stroke_ring{
    transform-origin: center;
    transform-box: view-box;
}
#wind_path_1{

}
#wind_path_2{

}
#wind_path_3{

}