.gallery{
    
}
.gallery-pictures{
    /* display: flex;
    flex-wrap: wrap;
    @apply gap-4; */
    float: left;
}
.gallery-picture{
    height: 200px;
    width: auto;
    overflow: hidden;
    img{
        object-fit: fill;
    }
}