/*css variables declarations */


.gallery{
    --large-height: 200px;
    --medium-height: 184px;
    --small-height: 164px;
}   
.gallery-pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    min-height: var(--small-height);
}
.gallery-picture{
    height: var(--small-height);
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply rounded-lg;
    img{
        object-fit: fill;
        width: 100%!important;
        height: 100%!important;
    }
    @screen md{
        height: var(--medium-height);
    }
    @screen lg{
        height: var(--large-height);
    }
}