.feed-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    white-space: pre-wrap;
    @apply pb-4 last:pb-0;
}
.feed-date{
    
    @apply text-gray-200 text-sm font-semibold w-full;
}