.feed-title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    white-space: pre-wrap;
    @apply pb-4 last:pb-0;
    > *{
        width: max-content;
    }
}
.feed-date{
    
    @apply text-gray-200 text-sm font-semibold w-full;
    @screen sm{
        @apply pl-16 w-auto;
        margin-left: auto;
    }
}