.user-tag{
    @apply relative flex flex-row;
    &:hover{
        cursor: pointer;
        > div > div{
            outline: 1px solid white;
        }
        .user-tag__username{
            z-index: 10;
            opacity: 1;
            transform: translateY(0px);
        }
    }
}
.user-tag__username{
    transition: var(--short-transition);
    @apply absolute top-full left-0 flex shrink-0 rounded-md text-sm p-2;
    background: var(--primary-color);
    z-index: 10;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    top: 100%;
    margin-top: 8px;
    z-index: -1;
    opacity: 0;
    transform: translateY(-8px);
    width: max-content;
    &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: var(--primary-color);

        top: -12px;
    }
}