
.friends-page{
    width: 100%;
    height: 100vh;
    --tab-number: 3;
    --width: calc(100% / var(--tab-number));
    @apply p-4 pb-16 lg:p-8 flex flex-col;
}

.tabs-container{
    border-radius: 100px!important;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
    @apply border border-slate-400 p-1 text-sm md:text-base;
    @apply relative;
}
.tab{

    z-index: 20;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--width);
    @apply text-slate-400;
    svg{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
    }
    &:last-child{
        border-right: none;
    }
}

.active-friend-tab{
    @apply text-slate-200 font-semibold;
}

.moving-box{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: var(--width);
    @apply bg-transparent flex justify-center items-center;
    transition: all 0.2s ease-in-out;
    div{
        @apply rounded-full;
        background-color: var(--btn-color);
        width: 90%;
        height: 2rem;
        transition: all 0.2s ease-in-out;
    }
}
.blur{
    filter: blur(1.5px);
    div{
        transform: scaleX(1.2) scaleY(0.4);
    }
}