.mini-avatar{
    @apply rounded-full overflow-hidden z-10 shrink-0 border border-slate-300;
    img{
        @apply w-full h-full;
    }
}
.extra-large{
    @apply w-24 h-24;
}
.large{
    @apply w-16 h-16;
}
.medium{
    @apply w-9 h-9;
}
.small{
    @apply w-8 h-8;

}
.compacted-nav{
    transition: all 0.3s ease-in-out;
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    border: 1px solid lightgray; 
    
    /* Set padding of nav-item parent of this element to 0 */
}