.notification-center{
    display: flex;
    position: fixed;
    top: -4px;
    right: 0;
    z-index: 40;
    flex-direction: column;
}
.notification-badge{
    background-color: var(--btn-color);
    margin-left: auto;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.1s ease-in-out;
    @apply p-1.5 rounded-full relative border border-indigo-700;
    &:hover{
        @apply p-2.5 -mr-1 -mt-1;
    }
    z-index: 10;
}
.new{
    .notification-badge svg{
        @apply animate-wiggle
    }
    .dot{
        @apply block;
    }
}
.dot{
    @apply absolute top-0 right-0 w-2 h-2 rounded-full bg-red-500 hidden;
}

