.post-engagement{
   border: 1px solid lightgray;
   box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0,1);
}
.engagement-btn{
    @apply text-lg rounded-md px-16 py-4 flex flex-row items-center justify-center mx-auto border capitalize mt-8 relative overflow-hidden;

}

.engagement-btn-bg-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0% at 0% 50%);
    animation-timing-function: cubic-bezier(0,.24,1,-0.03);
}
.engagement-btn:not(:hover) .engagement-btn-bg-container{
    animation: unreveal 0.4s forwards;
}
.engagement-btn:hover .engagement-btn-bg-container{
  animation: reveal 0.4s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0,.24,1,-0.03);
}
.engagement-btn-background{
    width: 500%;
    height: 105%;
    position: absolute;
    top: -2.5%;
    background: linear-gradient(
        75deg,
        #FF77FF,   /* Vivid Pastel Magenta */
        #FF6B9F,  /* Vivid Pastel Pink */
        #FF7F50,  /* Vivid Pastel Orange */
        #FFDD57,  /* Vivid Pastel Yellow */
        #6BFF6B,  /* Vivid Pastel Green */
        #6ED4FF,  /* Vivid Pastel Sky Blue */
        #A578FF,  /* Vivid Pastel Blue-Violet */
        #FF77FF,   /* Vivid Pastel Magenta */
        #FF6B9F,  /* Vivid Pastel Pink */
        #FF7F50,  /* Vivid Pastel Orange */
        #FFDD57,  /* Vivid Pastel Yellow */
        #6BFF6B,  /* Vivid Pastel Green */
        #6ED4FF,  /* Vivid Pastel Sky Blue */
        #A578FF,  /* Vivid Pastel Blue-Violet */
        #FF77FF   /* Vivid Pastel Magenta */
    );

    filter: blur(7px);

  }
.engagement-btn-background{
  
    animation: move 5s linear infinite;
 
}
.engagement-btn-text{
    @apply text-sm;
    @screen md{
        @apply text-lg;
    }
}
.engagement-title{
    @apply text-xl  text-center rounded-md py-1 px-2 w-auto block mx-auto relative mb-4;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    width: max-content;
    @screen md{
        @apply text-3xl;
    }
}
@keyframes move{
    0%{
        left: -251%;
    }
    100%{
        left: -1%;
    }
}
/* eclipse(50% 100%) */
@keyframes reveal{
    0%{
      clip-path: circle(0% at 0% 50%);
    }
    100%{
      clip-path: circle(145% at 0% 50%);
    }
}
@keyframes unreveal{
    0%{
      clip-path: circle(145% at 0% 50%);
    }
    100%{
      clip-path: circle(0% at 0% 50%);
    }
}