.user-search-card{
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
    @apply bg-slate-200 rounded-lg p-4 shadow-md items-center;
    &:hover{
        @apply cursor-pointer bg-slate-300;
        transform: scale(1.03)
        
    }
    &.small{
        @apply scale-100 outline-none rounded-none items-center;
    }
    &.small:hover{
        @apply  shadow-none bg-indigo-100;
    }
    &.small .information-group{
        .featuredWeather{
            display: none;
        }
    }
}
.information-group{
    @apply flex flex-col ml-2 grow h-full; 
}
.name{
    @apply text-lg font-semibold;
}

.buddy-badge{
    @apply p-2 rounded-full flex flex-row items-center font-extrabold;
}