.user-search-card{
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
    transition: all 0.1s ease-in-out;
    @apply bg-slate-100 rounded-lg p-4 shadow-md;
    &:hover{
        @apply cursor-pointer shadow-lg scale-105 outline outline-indigo-500;
        
    }
}
.information-group{
    @apply flex flex-col ml-2; 
}
.name{
    @apply text-lg font-semibold;
}