$weathers: (
    (/* default */
        name: cloudy,
        mainColor: skyblue,
        cloudColor: #FFFFFF,
    ),
    (
        name: rainy,
        mainColor: #6d28d9,
        cloudColor: #94a3b8
    ),
    (
        name: sunny,
        mainColor: #fed7aa,
        cloudColor:#fda4af,
    ),
    (
        name: snowy,
        mainColor: #2563eb,
        cloudColor: #38bdf8
    )
    ,
    (
        name: windy,
        mainColor: #d9f99d,
        cloudColor: #4ade80
    )
    ,
    (
        name: thunder,
        mainColor: #f5d0fe,
        cloudColor: #facc15
    )

);
.profile-page{
    @apply flex flex-col w-full overflow-y-auto p-8 relative overflow-x-hidden h-full;
}
.top-layer{
    @apply z-30;
}
.profile-banner-wrapper{
    
}

@each $weather in $weathers {
    $theBackground: map-get($weather, mainColor);
    $theCloud: map-get($weather, cloudColor);
    $theName: map-get($weather, name);
    .#{$theName} {
        background-color: $theBackground;
        transition: background-color 0.4s ease-in-out;
        .cloud svg *{
                fill: $theCloud;
                color: $theCloud; 
                flex-shrink: 0;
                
        }
        .cloud svg{
                max-width: 100%!important;
        }
        
    }
};
