$weathers: (
    (/* default */
        name: cloudy,
        mainColor: skyblue,
        cloudColor: #FFFFFF,
    ),
    (
        name: rainy,
        mainColor: #a6a0ff,
        cloudColor: #CCCCCC
    ),
    (
        name: sunny,
        mainColor: skyblue,
        cloudColor: lightyellow,
    )
);
.profile-page{
    @apply flex flex-col w-full overflow-y-auto p-8 relative overflow-x-hidden h-full;
}
.top-layer{
    @apply z-30;
}
.profile-banner-wrapper{
    
}

@each $weather in $weathers {
    $theBackground: map-get($weather, mainColor);
    $theCloud: map-get($weather, cloudColor);
    $theName: map-get($weather, name);
    .#{$theName} {
        background-color: $theBackground;
    
        .cloud svg *{
                fill: $theCloud;
                color: $theCloud; 
                flex-shrink: 0;
                
        }
        .cloud svg{
                max-width: 100%!important;
        }
        
    }
};
