$weathers: (
    (/* default */
        name: cloudy,
        mainColor: skyblue,
        cloudColor: #FFFFFF,
    ),
    (
        name: rainy,
        mainColor: #4138bc,
        cloudColor: #CCCCCC
    ),
    (
        name: sunny,
        mainColor: khaki,
        cloudColor: orange,
    )
);
.profile-page{
    @apply flex flex-col w-full overflow-y-auto p-8 relative h-full;
}
.top-layer{
    @apply z-10;
}


@each $weather in $weathers {
    $theBackground: map-get($weather, mainColor);
    $theCloud: map-get($weather, cloudColor);
    $theName: map-get($weather, name);
    .#{$theName} {
        background-color: $theBackground;
        .cloud {
            svg{
                fill: $theCloud;
            }
        }
    }
};
