.post{
    @apply  mx-auto rounded-lg;
    width: 100%;
}

.post__content{
    @apply p-8;
    white-space: pre-wrap;
}
.post-container{
    @apply rounded-t-lg;
}
.post-modal-container{
    max-height: 70vh;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media (min-width: 1536px)  {
    .post {
        width: 900px;
    }
}
@media (min-width: 1280px) and (max-width: 1535px) {
    .post {
        width: 750px;
    }
}
@media (min-width: 1024px) and (max-width: 1279px) {
    .post {
        width: 700px;
    }
}
@media (min-width: 768px ) and (max-width: 1023px) {
    .post {
        width: 640px;
    }
}