.emoji-selector{
    position: relative;
    display: flex;
    flex-direction: column;
}
.emoji-list-reveal-btn{
    svg{
        color: var(--btn-color);
    }
}
.emoji-list{
    z-index: 30;
    position: absolute;
    background: var(--primary-color);
    border: 1px solid lightgray;
    transition-property: opacity, margin, visibility;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0, 0, 0.2s, 0.4s;
    @apply p-4 rounded-lg w-[300px];
    visibility: hidden;
    opacity: 0;
    &.top{
        margin-bottom: 0rem;
        bottom: 0;
        &.reveal{
            margin-bottom: 2.25rem;
        }
    }
    &.bottom{
        margin-top: 0rem;
        &.reveal{
            margin-top: 2.25rem;
        }
    }
}
.reveal{
    opacity: 1;
    visibility: visible;
    display: block;
}
.emoji-list__search{
    @apply w-full;
    input[type="text"]{
        transition: all 0.2s ease-in-out;
        @apply p-1 bg-transparent border-none rounded-none mb-2 w-full;
        border-bottom: 1px solid gray;
    }
    & input[type="text"]:focus{
        @apply rounded-lg outline-none text-indigo-800 bg-white;
        border-bottom: 1px solid transparent;
    }
}
.emoji-list__selections{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}
.emoji-selection{
    @apply w-8 h-8 flex justify-center items-center rounded-full;
    transition: background-color 0.1s ease-in-out;
    &:hover{
        background-color: var(--btn-color); 
    }
}