.snow-cloud, #cold-cloud{

}

#cold-cloud-body{

}
.snow-flake{
   
}
#snow-flake-1{
    transform-origin: 132% 143%;
}
#snow-flake-2{
    transform-origin: 201% 99%;
}
#snow-flake-3{
    transform-origin: 161% 97%;
}