.sunny{
    position: position;
    top: 0;
    left: 0;
}
#sunny-sun_path{
     transform-origin: center;
    transform-box: fill-box; 
}
#sunny-sun_path path{
    transform-origin: center;
}
#sunny-sun_stroke{
    transform-origin: center;
}   
#sunny-filled_sun{
    transform-origin: center;
}