.sunny{
    position: relative;
}
#sunny-sun_path{
    transform-origin: center;
    transform-box: fill-box;
}
#sunny-sun_path path{
    /* transform-origin: 79.5% 53%; */

}
#sunny-sun_stroke{

}
#sunny-filled_sun{

}