.cloudy{
    position: relative;
}
#cloudy-rain{

}
#cloud-stroke{

}
#cloud-filled{

}
#cloudy-circles-container{
    clip-path: path('m40.94 22.547-28.469-0.19862c-2.2069-0.0154-3.9936-3.0653-3.9063-5.6939 0.18141-5.4599 3.3137-7.5398 4.6345-8.5408 1.7614-1.3348 5.8669-2.093 8.2097-1.5228 2.9774 0.72471 5.2479 2.5839 6.9518 4.767 2.1686 2.7783 1.589 4.4359 1.589 4.4359 0.97762-2.7787 3.9083-4.4654 6.8856-4.5021 3.0538-0.03771 4.9238 1.6992 6.2897 4.2373 1.1794 2.2147 1.0703 6.8856-2.1849 7.018z');
    position: absolute;
    width: 100%;
    height: 100%;
    top: 133.5%;
    left: 134%;
    transform: scale(3.65);
}
.cloudy-circle{
    background-color: #5300d4;
    width: 10px;
    height: 10px;
    transform: scale(0);
    transform-origin: center;
    border-radius: 50%;
    &:nth-of-type(1){
        position: absolute;
        top: 12px;
        left: 33px;
    }
    &:nth-of-type(2){
        position: absolute;
        top: 14px;
        left: 20px;
    }
    &:nth-of-type(3){
        position: absolute;
        top: 7px;
        left: 11px;
    }
}
