.header-bar{
    @apply w-full flex justify-center items-center;
}
.bar-circle, .circle-edge{
    @apply bg-slate-200/70 ;
    background-blend-mode: multiply;
}
.bar-circle{
    @apply w-8 h-8 rounded-full ;
}
.circle-edge{
    @apply w-24 h-1  relative;
}
.bar-circle-group{
    position: relative;
    cursor: pointer;
    & span{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @apply top-7;
    }
}