.fav-weather-wheel{
    @apply absolute z-50 top-0 left-0 rounded-full w-full h-full;
}

.featured-weather{
  @apply absolute bottom-0 right-0 ;
  z-index: 100;
}
.expanded-featured{
    @apply p-1 rounded-full bg-slate-200 -bottom-1 -right-1;
    outline: 2px solid var(--primary-color);


}
.weather-options{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.weather-option{
    position: absolute;
    @apply p-1 rounded-full bg-slate-200;
    &:hover{
        @apply scale-125 cursor-pointer z-500 bg-slate-300;
        transition: all 0.2s ease-in-out;
    }
}

.choose-weather-title{
    background: var(--primary-color);
    @apply px-2 py-1 text-xs rounded-lg absolute block left-1/2 -translate-x-1/2 -top-6;
    width: max-content;
}