
.fav-weather-wheel{
    @apply absolute z-50 top-0 left-0 rounded-full w-full h-full;
}

.featured-weather{
  @apply absolute bottom-0 right-0 ;
  z-index: 100;
  transition: var(--short-transition);
  transition-delay: 0.45s;
}
.zero-delay{
    transition-delay: 0s !important;
}
.editable-featured{
    cursor: pointer;
    &:hover:not(.expanded-featured){
        @apply bg-slate-50 rounded-full;
    }
}
.expanded-featured{
    @apply p-1 rounded-full bg-slate-200 -bottom-1 -right-1;
    outline: 2px solid var(--primary-color);
    transition-delay: 0.15s;
}
.weather-options{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    visibility: hidden;

}
.weather-option{
    position: absolute;
    @apply p-1 rounded-full bg-slate-100 top-3/4 left-3/4;
    &:hover{
        @apply scale-125 cursor-pointer z-500 bg-slate-200;
        transition: all 0.2s ease-in-out;
        outline: var(--primary-color) 2px solid;
    }
}

.choose-weather-title{
    background: var(--primary-color);
    @apply px-2 py-1 text-xs rounded-lg absolute block left-1/2 -translate-x-1/2 -top-6;
    width: max-content;
}
.chosen-weather-option{
    display: none;
}

.pulse{
    animation: 0.5s pulse;
    animation-delay: 0.5s;
}
.no-interaction{
    
}
.no-interaction .weather-option{
    pointer-events: none!important;
}
@keyframes pulse{
    0%{
        transform: scale(1.6);
    }
    /* 15%{
        transform: scale(1.3);
    } */
    30%{
        transform: scale(1.2);
    }
    /* 50%{
        transform: scale(1.2);
    } */
    60%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}


.bg-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity ease 0.3s;
}
.active-option{
    opacity: 1;
}