.picture-interaction-panel{
   @apply border-l border-slate-500 overflow-y-auto p-8 flex flex-col flex-wrap;
   flex: 1;
   height: 100%;
}
.loading{
   @apply w-full h-full flex justify-center items-center;
   svg{
      color: white;
      @apply w-12 h-12;
   }
}