.feed-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lazy-target{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.no-feed{
    @apply w-full h-full flex flex-col items-center justify-center rounded-md px-8 py-32 text-xl;
    
}
.no-feed-text{
    @apply mt-4
}