.feed-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.lazy-target{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.no-feed{
    @apply w-full h-full flex items-center justify-center;
    
}