.user-mini-profile{
    display: flex;
    flex-shrink: 1;
    align-items: center;
    .full-name{
        @apply font-semibold;
    }
    &:hover{
        cursor: pointer;
        .full-name{
            @apply underline;
        }
    }
    &.small{
        .user-info{
            margin-left: 0.5rem;
        }
    }
}
.dark{
    @apply text-white;
}
.user-info{
    margin-left: 1rem;
}
.full-name{
    @apply font-bold mr-2;
}