.control-option{
    display: flex;
    align-items: center;
    @apply py-2 px-8 w-full transition-all duration-200;
    &:hover{
        background-color: var(--btn-color);
        color: white;
    }
    .icon{
        @apply mr-2 text-xl;
    }
    .title{
        @apply font-semibold;
    }
}
