.background{
    width: 100%;
    height: 100%;
}
.rain{
    background: rgb(150,5,171);
    background: linear-gradient(45deg, rgba(150,5,171,1) 0%, rgba(59,23,103,1) 74%);
}
.day, .sunny{
    background: rgb(101,194,250);
    background: linear-gradient(217deg, rgba(101,194,250,1) 5%, rgba(36,100,223,1) 85%);
}
.windy{
    background: rgb(1,223,213);
    background: linear-gradient(217deg, rgba(1,223,213,1) 5%, rgba(16,168,92,1) 81%);
}
.thunder{
    background: rgb(124,68,254);
    background: linear-gradient(77deg, rgba(124,68,254,1) 0%, rgba(225,70,230,1) 84%);
}
.snow{
    background: rgb(15,1,125);
    background: linear-gradient(217deg, rgba(41,235,233,1)  0%,  rgba(15,1,125,1) 80%);
}
.night{
    background: rgb(67,1,148);
background: linear-gradient(217deg, rgba(67,1,148,1) 0%, rgba(27,2,91,1) 100%);
}