.avatar{
    --large-dim: 200px;
    --small-dim: 120px;
    --med-dim: 160px;
    @apply rounded-lg overflow-hidden;
    @screen sm{
        width: var(--small-dim);
        height: var(--small-dim);
        
    }
    @screen md{
        width: var(--med-dim);
        height: var(--med-dim);
    }
    @screen lg{
        width: var(--large-dim);
        height: var(--large-dim);
    }

}
