.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 200;
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;

}
.modal-background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal-content{
    position: relative;
    padding: 4;
    z-index: 9999;
    border-radius: 4px;
    width: 0%;
}
.hidden{
    width: 0!important;
    height: 0!important;
    opacity: 0!important;
    transition: opacity 0.2s ease-in-out;
}
.modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg{
        width: 32px;
        height: 32px;
        color: tomato;
        transition: all 0.1s ease-in-out;
    }
    :hover{
        color: rgb(253, 71, 38);
    }
}
.sm{

}
.md{

}
.lg{

}
@media (min-width: 1440px ) {
    .modal-content{
        width: 45%;
    }
    .sm .modal-content{
        width: 30%;
    }
}
@media (min-width: 1024px) and (max-width: 1440px){
    .modal-content{
        width: 60%;
    }
    .sm .modal-content{
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .modal-content{
        width: 70%;
    }
}