.cloud-ball{
    display: inline-flex;
    flex-direction: row;
    @apply bg-slate-200 p-1 rounded-full justify-center items-center relative;
    color: var(--primary-color);

    div:first-child{
        @apply mr-1;
    }
}
.untag-btn{
    @apply rounded-full ml-2;
    transition: all 0.1s ease-in-out;
    svg{
        @apply text-indigo-500;
        transition: all 0.1s ease-in-out;
    }
    &:hover{
        cursor: pointer;
        
        svg{
            color: tomato;
            transform: scale(1.5);
        }
    }
}
.last{
    animation: expand 0.3s ease-in-out forwards;
}

.over-loaded{
    div:first-child{
        @apply mr-0;
    }
}

@keyframes expand{
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}