
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  
  @screen lg{
    font-size: 14px;
  }

}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .btn-active{
    @apply bg-gradient-to-r from-indigo-700 from-40%  to-indigo-500 to-95% border border-white
  }
  .half{
    width: calc(50% - 1rem);
  }
  .hover-editable-image{
    @apply backdrop-blur-sm bg-black bg-opacity-20 text-slate-100;
  }
}
/*Variables*/
:root{
  --nav-primmary-color: #3730a3;
  --nav-secondary-color: white;
  --primary-color: #3730a3;
  --highlighted-color: #6366f1;
  --btn-hover-color: #4f46e5;
  --btn-color: #6366f1;
  --disabled-color: #c1caf7;
  --faded-hover-color: #c1caf7;
  --badge-color:  rgb(67 56 202);
  --xl-screen: 1280px;
  --lg-screen: 1024px;
  --md-screen: 768px;
  --sm-screen: 640px;
  --short-transition: all 0.2s ease-in-out;
  --long-transition: all 0.5s ease-in-out;
  --light-text: white;
}

.glass{
  @apply bg-slate-800/50 backdrop-blur-md;
}
.glass-lighter{
  @apply bg-slate-800/30 backdrop-blur-sm;
}
.glass-lightest{
  @apply bg-slate-800/10 backdrop-blur-sm;
}
.glass-component{
  @apply bg-slate-800/70 backdrop-blur-lg shadow-inner-lg shadow-slate-100/10 border-[2px] border-slate-100/40;
}
.container{
  @apply m-8;
}
.glass-dark{
  @apply bg-gradient-to-br from-slate-900/20 from-10% to-transparent to-95% backdrop-blur-lg;
}
.glass-darker{

}
/*CUSTOM DIMESNIONS*/

/* BUTTONS */
.action-btn{
  @apply transition duration-200 text-white  bg-indigo-500 hover:bg-gradient-to-r from-indigo-700 from-40%  to-violet-500 to-95% px-4 py-2 rounded-md border border-indigo-500 hover:border-slate-200;
}
.critical-btn{
  @apply transition duration-200 text-white ml-4 bg-red-500 hover:bg-gradient-to-r from-red-700 from-40%  to-red-500 to-95% px-4 py-2 rounded border border-red-500 hover:border-slate-200;
}

.secondary-action-btn{
  @apply hover:text-indigo-300
}
/* NAV ITEMS */
.nav-bar{
  background-color: var(--nav-primmary-color);
  z-index: 20;
  @apply transition-all shrink-0;

}
.nav-bar.side-nav{
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.3);
  width: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  z-index: 20;
  @screen lg{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: auto;
    overflow: visible;
    height: auto;
  }
}
.nav-bar.bottom-nav{
  display: flex;
  flex-direction: row;
  background: none;
  border-radius: 50px;
  width: 100%;
  justify-content: stretch;
  position: fixed;
  bottom: 0;
  @apply order-last;
  @screen lg{
    display: none;
  }
}
.nav-item{
  @apply mt-4 relative;
  &:not(.active)::after{
    content: "";
    transition: all 0.2s ease-in-out;
    @apply w-full absolute bottom-0 h-[2px] bg-white z-50 rounded-full;
    transform: scaleX(0);
    transform-origin: left;
    flex-shrink: 0;
  }
  &:hover{
    &::after{
      transform: scaleX(1)
    }
  }
  *:not(::after) {
    @apply transition duration-100 ease-in-out;
  }
  @apply transition flex flex-row items-center py-2 pr-4 w-full rounded;
  svg{
    @apply w-5 h-5 ml-4;
  }
  span{
    @apply ml-4;
  }
  &:first-child{
    display: none;
  }
}

.tooltip{
  position: absolute;
  height: 100%;
  background: white;
  width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  div{
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  @apply rounded;
}

.nav-menu-nonactive{
  .non-active, span{
    display: none;
  }
  
  .nav-item{
    &:first-child{
      display: flex;
      padding: 1px;
    }
    @apply p-2.5;
    &::after{
      content: none;
    }

    @screen md{
      &:hover{
        @apply bg-white text-indigo-800;
        .tooltip{
          div{
            @apply opacity-100;
            color: var(--nav-primmary-color);
          }
          @apply w-max pl-12 pr-4;
        }
        img{
          transition: all 0.5 ease-in-out;
          box-shadow: inset 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }

    svg {
      @apply m-0;
    }
  }
  div button svg{
    @apply m-0
  }
  .footer-btn{
    @apply justify-center;
  }
  svg{
    position: relative;
  }
  @screen lg{
    align-items: center;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}

.nav-item.active{
  @apply bg-white text-[color:var(--nav-primmary-color)];
  pointer-events: none;
}



.hover-btn-active{
  @apply hover:bg-gradient-to-r from-indigo-700 from-40%  to-indigo-500 to-95%  rounded border border-indigo-500 hover:border-slate-200
}
/* PROFILE */
.profile-row{
  @apply flex;
  h4{
    @apply font-semibold w-28;
  }
}
.profile-section-title{
  @apply text-xl uppercase px-8 py-2 mb-4 rounded-lg w-max flex gap-2;
  background-color: var(--primary-color);
  
}
.edit-title{
  @apply border-b border-slate-400 mb-4 uppercase ;
}
.is-editting-profile-title{
  @apply  w-full min-h-[100px]
}
.profile-section{
  @apply flex flex-col;
}
.profile-section-content{
  @apply border border-slate-200 bg-slate-100/60 backdrop-blur-sm rounded-3xl text-lg p-16;
  color: var(--primary-color);
}
.profile-section-content.big-boy{
    @apply p-8 text-base h-min;
    @screen md {
      width: full;
      font-size: 1.5rem;
      line-height: 2rem;
      padding: 4rem;
    }
  }
.profile-section-left{
  display:flex;

  align-items: flex-start;
}
.profile-section-right{
  display: flex;
  align-items: flex-end;
}

/* FORMS */
.form-row{
  @apply flex flex-col;
  &.dark label {
    @apply text-white
  }
  &.dark input {
    @apply text-indigo-900
  }
}

.form-container{
  @apply flex flex-row flex-wrap justify-between bg-indigo-800 p-8 rounded-3xl shadow-xl;
}

textarea, input[type="text"], input[type="email"], input[type="password"]{
  @apply rounded border border-slate-400;
  &:focus{
    @apply outline-none outline-indigo-500;
  }
}
.form-title{
  @apply text-2xl font-semibold mb-4;
}

.horizontal-btn-group{
  @apply flex flex-row justify-between;
  button:not(:last-child){
    @apply mr-2;
  }
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: ora;
}

*::-webkit-scrollbar-thumb {
  transition: background-color .2s ease-in-out;
  background: var(--btn-color);
  border-radius: 20px;
  &:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
  }
}

.icon{
  @apply w-6 h-6;
}

.option-selected{

  @apply bg-indigo-500 text-white;
  
  span{
    @apply text-slate-200;
  }

}

/* LOADING SCREEN */
.loading-screen{
  z-index: 999;
}

/* feed page dimensions */
.feed-page-main-components{
  @apply xl:w-[750px] lg:w-[700px] md:w-[640px];
}