* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .btn-active{
    @apply bg-gradient-to-r from-indigo-700 from-40%  to-indigo-500 to-95% border border-white
  }
  .half{
    width: calc(50% - 1rem);
  }
  .hover-editable-image{
    @apply backdrop-blur-sm bg-black bg-opacity-20 text-slate-100;
  }
}
/*Variables*/
:root{
  --nav-primmary-color: #2e1065;
  --nav-secondary-color: white;
  --primary-color: #312e81;
  --btn-hover-color: #4f46e5;
  --btn-color: #6366f1;
}

.glass{
  @apply bg-gradient-to-br from-slate-500/20 from-10% to-transparent to-95% backdrop-blur-lg rounded shadow-xl p-4;
}
.glass-dark{
  @apply bg-gradient-to-br from-slate-900/20 from-10% to-transparent to-95% backdrop-blur-lg;
}

/* BUTTONS */
.action-btn{
  @apply transition duration-200 text-white  bg-indigo-500 hover:bg-gradient-to-r from-indigo-700 from-40%  to-indigo-500 to-95% px-4 py-2 rounded border border-indigo-500 hover:border-slate-200;
}
.critical-btn{
  @apply transition duration-200 text-white ml-4 bg-red-500 hover:bg-gradient-to-r from-red-700 from-40%  to-red-500 to-95% px-4 py-2 rounded border border-red-500 hover:border-slate-200;
}
/* NAV ITEMS */
.nav-item{
  @apply mb-2;
  * {
    @apply transition;
  }
  @apply transition flex flex-row items-center py-2 pr-4 w-full rounded;
  svg{
    @apply w-5 h-5 ml-4;
  }
  span{
    @apply ml-4;
  }
}
.nav-item:hover{
  @apply bg-white text-[color:var(--nav-primmary-color)];
}

.nav-menu-nonactive{
  @apply flex flex-col items-center px-2.5;
  .non-active, span{
    @apply hidden;
  }
  .nav-item{
    @apply p-2.5;
    svg {
      @apply m-0;
    }
  }
  * {
    @apply border-[color:var(--nav-primmary-color)];
  }
  div button svg{
    @apply m-0
  }
}

.nav-item.active{
  @apply bg-white text-[color:var(--nav-primmary-color)];
}

.hover-btn-active{
  @apply hover:bg-gradient-to-r from-indigo-700 from-40%  to-indigo-500 to-95%  rounded border border-indigo-500 hover:border-slate-200
}
/* PROFILE */
.profile-row{
  @apply flex;
  h4{
    @apply font-semibold w-28;
  }
}
.profile-section-title{
  @apply text-xl border-b border-slate-400 mb-8;
}

/* FORMS */
.form-row{
  @apply flex flex-col;
  &.dark label {
    @apply text-white
  }
  &.dark input {
    @apply text-indigo-900
  }
}

.form-container{
  @apply flex flex-row flex-wrap justify-between bg-indigo-900 p-8 rounded shadow-xl;
}

textarea, input[type="text"], input[type="email"], input[type="password"]{
  @apply rounded border border-slate-400;
  &:focus{
    @apply outline-none outline-indigo-500;
  }
}
.form-title{
  @apply text-2xl font-semibold mb-4;
}

.horizontal-btn-group{
  @apply flex flex-row justify-between;
  button:not(:last-child){
    @apply mr-2;
  }
}


/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--btn-color);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: .5rem;
}

*::-webkit-scrollbar-track {
  background: ora;
}

*::-webkit-scrollbar-thumb {
  transition: background-color .2s ease-in-out;
  background: var(--btn-color);
  border-radius: 20px;
  border: 1px solid white;
  &:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
  }
}

.icon{
  @apply w-6 h-6;
}

.option-selected{

  @apply bg-indigo-500 text-white;
  
  span{
    @apply text-slate-200;
  }

}

