@keyframes animateWave {
    0%, 100% {
      d: path("M0 100 Q 50 150 100 100 T 200 100 T 300 100 T 400 100 T 500 100 T 600 100 T 700 100 T 800 100 T 900 100 T 1000 100");
    }
    50% {
      d: path("M0 100 Q 50 50 100 100 T 200 100 T 300 100 T 400 100 T 500 100 T 600 100 T 700 100 T 800 100 T 900 100 T 1000 100");
    }
  }
  
  #wave {
  }

@keyframes move{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(1000px);
  }
}
#textContainer{}
#textContainer span {
  font-size: 32px;
  display: inline-block;
  transform-origin: bottom;
  animation: wave 0.4s infinite alternate;
}

#flag{
  display: flex;
  height: 50px;
}
.bar{
  height: 100%;
  background: yellow;
  width: 1px;
  animation: wave2 0.4s infinite alternate;
  transform-origin: center;
  @apply border-y border-red-500;
  &:first-child{
    @apply border-l
  }
  &:last-child{
    @apply border-r
  }
}
@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-24px);
  }
}
@keyframes wave2{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-12px);
  }
}