.picture-modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;

}

.modal-background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @apply bg-slate-900/90;
}
.picture-container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    @screen lg{
        height: 100%;
        width: 60vw;
    }
    @apply bg-black/30;
}
.picture-content{
    width: 100%;
    border-radius: 8px;
}
.vertical-image{
    width: auto;
    height: 100%;
}
.close-btn{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    @apply top-4 right-4 w-10 h-10 border border-slate-500;
    &:hover{
        background-color: tomato;
    }
    svg{
        color: white;
        @apply w-8 h-8;
    }
}
.picture-slider-btns{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
   
    svg{
        color: white;
        @apply w-12 h-12;
    }
    button{
        transition: all 0.2s ease-in-out;
        opacity: 0.2;
        @apply p-4;
        &:hover{
           opacity:1
        }
        &:first-child{
            margin-right: auto;
        }
        &:last-child{
            margin-left: auto;
        }
    }   
}