

.bar-liquid{
    --expo: cubic-bezier(1, 0, 0, 1);
    --bounc: cubic-bezier(0.79, 0.33, 0.14, 0.53);
    background: var(--btn-color);
    position: absolute;
    top: 50%;
    height: 3px;
    z-index: 120;
    transform: translateY(-50%);
    border-radius: 5px;
    filter:blur(0.5px);
    transition-timing-function: var(--expo);
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
.current{
    filter: none;
    transition: none;
}