.notification-side-board{
    --animation-property: 0.3s ease-in-out;
    width: 416px;
    background: white;
    border-radius: 4px;
    @apply p-8 shadow-lg opacity-100;
    color: var(--primary-color);
    transition: margin var(--animation-property), opacity var(--animation-property), transform 0.2s;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 5;
    max-height: 100vh;
    transform-origin: top right;
    transform: scale(1);
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}
.hide-drop{
    @apply -mt-8 opacity-0;
    transform: scale(0) translate(10px, 10px);
}