.reactions-bar{
    display: flex;
    flex-direction: row;
    @apply border border-slate-400/50 rounded-full px-2 items-center ;
    &:hover{
        cursor:pointer;
        @apply border-slate-200/50;
        .reaction-count{
            @apply bg-indigo-700 outline outline-1 outline-slate-400;
        }
    }
    &.is-comment{
        border: none;
        padding: 0px;
        position: absolute;
        bottom: -0.25rem;
        right: 0px;
        max-width: 100%;
        @apply text-sm ;
        .opposite-grow{
            right: auto;
            left: 0px;
        }
        .reactions-bar__title{

            text-decoration: none;
            transition: all 0.2s ease-in-out;
            margin-right: 0;
            margin-left: 8px;
            @apply bg-slate-300 px-1 rounded-md hover:bg-slate-400
        }
    }
}
.reactions-bar__title{
    @apply mr-1;
    display: flex;
    align-items: center;
}

.target-reactions-group-names{
    @apply flex flex-row items-center;
}
.reaction-count{
    @apply text-sm font-bold ml-1 bg-indigo-500 w-5 h-5 flex justify-center items-center rounded-full relative;
    transition: var(--short-transition);
    z-index: 2;
}