.comment-component{
    @apply flex flex-row relative mb-4;
    &:last-of-type{
        margin-bottom: 0;
    }
    --graph-edge-color: gray;
}
.comment-component__profile-picture{
    @apply mr-4;
}
.content-group{
    @apply flex flex-col grow;
}
.content-group__content{
    @apply bg-slate-200/90 border border-slate-400  backdrop-blur  py-2 px-4 my-1 rounded-3xl;
    display: inline-block;
    max-width: 100%;
    white-space: pre-line;
    color: var(--primary-color)
}
.content-group__control-and-date{
    @apply flex flex-row items-center py-2;
}
.content-group__created-date{
    @apply ml-2;
}
.child-comment{
    padding: 0;
}
.content-group__username{
    @apply font-semibold;
}
.view-replies-btn{
    @apply flex flex-row items-center font-semibold text-lg;
    &:hover{
        text-decoration: underline;
    }
}
.content-group__self{
    @apply relative;
}
.graph-edge{
    margin-bottom: 10px;
    height: 100%;
    width: 1px;
    left: -2.5rem;
    background-color: var(--graph-edge-color);
    position: absolute;
    top: 0;
    z-index: 1;
}
.edge-passing-child{
    height: 100%;
    width: 1px;
    left: -2.5rem;
    background-color: var(--graph-edge-color);
    position: absolute;
    top: 0;
    z-index: 1;
}
.merging-curve{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: -1rem;
    left: -2.5rem;
    border-bottom: 1px solid var(--graph-edge-color);
    border-left: 1px solid var(--graph-edge-color);
    @apply rounded-bl-xl;
}