.comment-component{
    @apply flex flex-row relative;
    &:last-of-type{
        margin-bottom: 0;
    }
}
.content-group{
    @apply flex flex-col grow;
}
.content-group__content{
    @apply bg-slate-200/90 border border-slate-400  backdrop-blur  py-2 px-4 my-1 rounded-3xl;
    width: max-content;
    max-width: 100%;
    white-space: pre-line;
    color: var(--primary-color)
}
.content-group__control-and-date{
    @apply flex flex-row items-center py-2;
}
.content-group__created-date{
    @apply ml-1;
}
.child-comment{
    padding: 0;
}
.content-group__username{
    @apply font-semibold;
}
.view-replies-btn{
    @apply flex flex-row items-center font-semibold text-lg;
    &:hover{
        
    }
}
.content-group__self{
    @apply relative;
}
.graph-edge{
    margin-bottom: 10px;
    height: 100%;
    width: 1px;
    left: -2.5rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    z-index: 1;
}