.intext-suggestion{
    position: absolute;
    z-index: 50;
    background: white;
    margin: 0.5rem;
}
.content-rendered{
    position: absolute;
    box-sizing: border-box;
    font-size: 1rem;
    @apply top-4 left-4;
    border: 1px solid black;
    white-space: pre-line; /* to make sure that content is wrap by new line character */
    z-index: -1;
    opacity: 0;
    min-height: 1rem;
}
