.buddy-card{
    --inner-dimension-percentage: 90%;
    --invisible-border-width: 1px;
    --outline-shadow-width: 1px;
    --transition-config: all 0.2s ease-in-out;
    @apply w-1/2 h-[150px] bg-slate-200 overflow-hidden rounded-3xl mb-4 mx-auto relative flex flex-row items-center border border-slate-500;
    transition: var(--transition-config);
    &:hover{
        transform: scale(1.02);
        .hover{
            @apply p-6;
            > div {
                > div{
                    width: var(--inner-dimension-percentage);
                    height: var(--inner-dimension-percentage);
                    top: calc((100% - var(--inner-dimension-percentage)) / 2 );
                    left: calc((100% - var(--inner-dimension-percentage)) / 2);
                }
            }
        }
        .overlay-screen{
            transition: var(--transition-config);
            @apply backdrop-blur-none bg-gradient-to-r from-slate-300/50 to-35% to-transparent;
        }
    }
}
.background-picture{
    @apply h-full w-full absolute top-0 left-0 rounded-3xl;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img{
        @apply w-full h-full;
        object-fit: cover;
    }
    .overlay-screen{
        transition: var(--transition-config);
        @apply h-full w-full absolute top-0 left-0 rounded-3xl bg-slate-600/20 backdrop-blur-sm;
    }
}