.friend-search-result-list{
    height: max-content;
    @apply my-auto inline-block overflow-y-scroll h-[calc(100%-4rem)];
}
.result-list{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    @apply gap-8 mx-4 lg:mx-8 lg:mb-0 relative;
}
.observer-target{
    @apply w-full h-0 absolute top-full;

}
.loading-indicator{
    @apply w-full h-[100px] flex justify-center items-center bg-slate-500 rounded-lg shadow-md animate-pulse;
}
.end-of-list{
    @apply w-full flex flex-row justify-center;
    span svg{
        @apply stroke-yellow-300 w-8 h-8 mx-1;
    }
}