.friend-search-result-list{
    @apply p-8 overflow-hidden flex flex-col w-full;
}
.result-list{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    @apply gap-8 mx-0 lg:mx-8;
}