.friend-search-result-list{
    height: max-content;
    @apply my-auto inline-block overflow-y-scroll h-[calc(100%-4rem)];
}
.result-list{
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    @apply gap-8 mx-0 lg:mx-8 -mb-8 relative;
}
.observer-target{
    @apply w-full h-0 absolute top-full;

}