.user-card{
    @apply flex flex-col flex-wrap w-full justify-center;
    width: inherit;
}
.user-card__card-link{
    @apply w-full flex flex-row p-4 rounded-lg border border-indigo-400;
    transition: all 0.2s ease-in-out;
    &:hover{

        @apply bg-slate-200;
        color: var(--primary-color);

    }
}
.user-card__profile-picture{
    @apply mr-4;
}
.user-card__profile-name{
    @apply text-center font-semibold;
}
.card-row{
    @apply flex flex-row mt-2;
    svg{
        @apply mr-1
    }
}
.compact{
    display: none;

}