.interactions-btns{
    @apply flex flex-row w-full px-8 py-4 items-center justify-between rounded-b-lg;
    
    & > button, & > div> button{
        @apply px-8 py-1;
    }
    &.shrinked{
        background-color: transparent!important;
        justify-content: flex-start;
        @apply p-0 w-auto;
        & > button, & > div> button{
            @apply px-4 py-0;
        }
        height: 1rem;
    }
}

