.interactions-btns{
    @apply flex flex-row w-full py-4 items-center justify-between border-y border-slate-400;
    
    & > button, & > div> button{
        @apply py-1 px-4;
    }
    &.shrinked{
        background-color: transparent!important;
        justify-content: flex-start;
        border: none;
        @apply p-0 w-auto;
        & > button, & > div> button{
            @apply px-4 py-0;
        }
        .interaction-btn{
            @apply ml-2;
        }
        height: 1rem;
    }
}
.interaction-btn{
    @apply rounded-3xl;
    transition: all 0.2s ease-in-out;
    color: white;
    &:hover{
        background-color: white;
        color: var(--btn-color);
    }
}